.dropdown {

    display: block;
    padding: 1rem;

    border: 2px solid #cfcfcf;
    border-radius: .5rem;

    width: 15rem;

    background-color: transparent;

    &.wide {
        width: 25rem;
    }

    &.tall {
        padding: 2rem 1rem;
    }

    &.filled {
        background-color: #cfcfcf;
    }

}